body{
    background-color: #EDF2C5;
    margin: 0px;
    padding: 0px;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
.container{
    position: relative;
    width: 1260px;
    padding: 0px 160px;
    margin: auto;
    box-sizing: border-box; 
}
.title{
    margin-top: 53px;
    height: 42px;
    width: 271px;
    font:36px 'Arial black';
    color:#778A50;
    float: left;
    margin-bottom: 0px;
}
.right{
    float: right;
    margin-top: 70px;
    padding-top:2px;
    margin-bottom: 3px;
} 
.right img, .btn{
    /* display: inline-block; */
    float: left;
}
.right img{
    margin-right: 10px;
}
button{
    margin-left: 10px;
    /*padding: 3px 8px; */
    font:14px 'Arial BoldMT';
    color:#778A50;
    border: 1px solid #778A50;
    border-radius:3px;  
    background-color: #EDF2C5;
    
}
.right .login{
    border-left: 1px solid #778A50; 
}
.list{ 
   width: 940px;
   box-sizing: border-box;
   margin-left:auto;
   margin-right: auto;
   margin-top:10px;
}
.list ul{ 
    background-color: #778A50;
    margin: 0;
    padding:0;
    
}
.list ul li{
    list-style: none;
    float: left;
}
.list a{
    text-decoration: none;
    display: block;
    color: #EDF2C5;
    margin: 0;
    padding: 16px 30px;
    font: 16px 'Arial Black';
}
.img_pumpkin{
    width: 940px;
    margin: 20px auto 30px auto;
}
.vegetable_contact{
    width: 940px;
    margin-left:auto; 
    margin-right: auto;

}
.vegetable, .contact{
    width: 445px;
    float: left;
    box-sizing: border-box;
}
.vegetable_title, .contact_title{
    background-color: #778A50;
    border-radius: 3px;
    font-family: 'Arial Black';
    font-size: 16px;
    color: #EDF2C5; 
    margin-top:0; 
}
.contact_title{
    padding-top:17px;
    padding-left: 30px;
    padding-bottom: 16px; 
}
.vegetable_title{
    padding-top:15px;
    padding-left:30px;
    padding-bottom: 15px; 
    
}
.vegetable{
    margin-right:25px;
}
.contact{
    margin-left: 25px;
    padding-bottom: 0;
}
#carrot{
    margin-left: 12px;
    margin-right: 12px;
}
.vegetable_pic figure{
    margin: 0;
    float: left;
}
.content{
    background-color: #F7FBDA;
    margin: 0px;
    padding:0 15px;
    
    height: 140px;
}
.article{
    margin: 0px;
    line-height: 1.33;
    padding-top: 10px;
    padding-bottom:16px;
    font: 12px 'ArialMT Regular';
    color: #7D7D7D;
}
.email_phone{
    /* margin-top: 16px; */
    border-top: 1px solid #7D7D7D;
    line-height: 0.83;
    font: 12px 'ArialMT Regular';
    color: #7D7D7D;
}
footer{
    background-color: #778A50;
    font: 12px 'ArialMT Regular'  ;
    font-weight: bold;
    color:#EDF2C5;
    padding: 24px 479px 25px 479px;
    text-align: center;
    margin-top: 35px; 
}